@font-face {
    font-family: 'mon-900';
    src: url('../font/Montserrat/static/Montserrat-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-900';
    src: url('../font/Montserrat/static/Montserrat-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-800';
    src: url('../font/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-800';
    src: url('../font/Montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-700';
    src: url('../font/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-700';
    src: url('../font/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-600';
    src: url('../font/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-600';
    src: url('../font/Montserrat/static/Montserrat-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-500';
    src: url('../font/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-500';
    src: url('../font/Montserrat/static/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-400';
    src: url('../font/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-400';
    src: url('../font/Montserrat/static/Montserrat-RegularItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-300';
    src: url('../font/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-300';
    src: url('../font/Montserrat/static/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-200';
    src: url('../font/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-200';
    src: url('../font/Montserrat/static/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-100';
    src: url('../font/Montserrat/static/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'mon-i-100';
    src: url('../font/Montserrat/static/Montserrat-ThinItalic.ttf') format('truetype');
}



@font-face {
    font-family: 'play-900';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'play-i-900';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'play-800';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'play-i-800';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'play-700';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'play-i-700';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'play-600';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'play-i-600';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'play-500';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'play-i-500';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'play-400';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'play-i-400';
    src: url('../font/Playfair_Display/static/PlayfairDisplay-RegularItalic.ttf') format('truetype');
}