*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html{
    font-family: 'fw-400';
    font-size: 14px;
    line-height: 1.5;
    scroll-behavior: smooth;
    color: $black-color;
}
body{
  padding: 0;
  margin: 0;
}
.prevent-scroll{
  overflow: hidden;
}
