:root{
    --darkGreen: #1E4B3D;
    --greenPattel: #547668;
    --lightGreen: #C0CBBE;
    --blackgray: #3D3D3D;
    --primaryColor: #31735E;
    --secondaryColor: #4BA35B;
    --black: #252525;
    --backgroundColor: #FDF4EFE0;
    }

    
.feeling{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1400px) {
  .feeling{
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
}

@media screen and (max-width: 1000px) {
  .feeling{
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .feeling{
    padding: 0px;
  }
}
.feeling .title{
    color: white;
    width: 100%;
    text-align: start;
}


.slick{
    width:100%;
    padding-top: 20px;
    text-align:center;
}

@media screen and (max-width: 1400px) {
  .slick{
    width:80%;
    padding-top: 20px;
    text-align:center;
  }
}



.slick-slide{
  margin:25px;
}

.wrapper .slick-dots li button:before {
  font-size:22px;
  color:white;
  }

.slick-arrow{
  padding: 10px;
}

.slick-prev{
    left: -60px !important;
}

.slick-next{
    right: -60px !important;
}

.slick-prev,
.slick-next{
    width: 50px !important;
    height: 50px !important;
}
.slick-prev:before,
.slick-next:before{
    font-size: 50px !important;
}
.slick-dots li button:before{
    content: '' !important;
}

@media screen and (max-width: 800px) {
  .slick-slide{
    margin:15px;
  }
  
  .wrapper .slick-dots li button:before {
    font-size:16px;
    color:white;
    }
  
  .slick-arrow{
    padding: 10px;
  }
  
  .slick-prev{
      left: -50px !important;
  }
  
  .slick-next{
      right: -50px !important;
  }
  
  .slick-prev,
  .slick-next{
      width: 40px !important;
      height: 40px !important;
  }
  .slick-prev:before,
  .slick-next:before{
      font-size: 40px !important;
  }
}


.custom-dot {
    display: block;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    border: 2px solid rgba(116, 241, 237, 1);
    transition: background 0.3s ease, border-color 0.3s ease;
}

.slick-dots li.slick-active .custom-dot {
    background: rgba(116, 241, 237, 1);  /* Active dot background color */
    border-color: rgba(116, 241, 237, 1);
}


/* slick component render */

  .slick__component{
    max-width: 325px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .slick__component .subtitleBox{
    width: 100%;
    text-align: start;
    margin-bottom: 1rem;
  }

  .slick__component .slick__component--user{
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
  }

  .slick__component--user .imgDiv{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
  }

  .slick__component--user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .slick__component--user .user__content{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: start;
    align-items: start;
  }
  .user__content--name{
    font-size: 16px;
    font-weight: 600;
  }