:root{
    --darkGreen: #1E4B3D;
    --greenPattel: #547668;
    --lightGreen: #C0CBBE;
    --blackgray: #3D3D3D;
    --primaryColor: #31735E;
    --secondaryColor: #4BA35B;
    --black: #252525;
    --backgroundColor: #FDF4EFE0;
}

.main .main__container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    flex-direction: column;
}   
    
.main__section--first{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.main__section--first .section__title{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.main__section--first .section__title .subtitle{
    text-align: center;
    width: 100%;
    max-width: 700px;
}

 .main__section--first .section__title .section__btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

 .main__section--first .section__title .section__btndiv .Button{
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--black);
    background-color: #fff;
    font-weight: 700;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 15px 30px 15px 30px;
}

@media screen and (max-width: 550px) {
    .main__section--first .section__title .section__btndiv{
        gap: 1rem;
    }

    .main__section--first .section__title .section__btndiv .Button{
        padding: 10px 20px 10px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .main__section--first .section__title .section__btndiv .Button{
        padding: 5px 10px 5px 10px;
        font-size: 12px;
    }
}

 .main__section--first .section__title .section__btndiv .active,
 .main__section--first .section__title .section__btndiv .Button:hover{
    color: white;
    background-color: var(--primaryColor);
}

 .main__section--first .section__content{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}



 .main__section--first .section__content .content__box{
    position: relative;
    width: 325px;
    height: 325px;
    border-radius: 20px;
    overflow: hidden;
}

 .main__section--first .section__content .content__box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .main__section--first .section__content .content__box .content__box--btnDiv{
    position: absolute;
    top: 10px;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;   
}
    
 .main__section--first .section__content .content__box .content__box--btnDiv .primaryButton{
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}

 .main__section--first .section__content .content__box .content__box--btnDiv .primaryButton:hover{
    background-color: var(--secondaryColor);
}

 .main__section--first .section__content .content__box .content__box--text{
    position: absolute;
    bottom: 10px;
    z-index: 10;
    width: 100%;
    padding: 0 10px;
    
}

 .main__section--first .section__content .content__box .content__box--text
.content__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    gap: 1rem;
}

@media screen and (max-width: 1400px) {
    .main__section--first .section__content{
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .main__section--first .section__content .content__box{
        align-self: center;
        justify-self: center;
        position: relative;
        width: 525px;
        height: 525px;
        border-radius: 20px;
        overflow: hidden;
    }
}


@media screen and (max-width: 1200px) {
    .main__section--first .section__content{
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .main__section--first .section__content .content__box{
        width: 425px;
        height: 425px;
    }
}

@media screen and (max-width: 950px) {
    .main__section--first .section__content .content__box{
        width: 325px;
        height: 325px;
    }
}

@media screen and (max-width: 750px) {
    .main__section--first .section__content .content__box{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 650px) {
    .main__section--first .section__content{
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    .main__section--first .section__content .content__box{
        width: 425px;
        height: 425px;
    }
}

@media screen and (max-width: 500px) {
    .main__section--first .section__content .content__box{
        width: 325px;
        height: 325px;
    }
}