:root{
  --darkGreen: #1E4B3D;
  --greenPattel: #547668;
  --lightGreen: #C0CBBE;
  --blackgray: #3D3D3D;
  --primaryColor: #31735E;
  --secondaryColor: #4BA35B;
  --black: #252525;
  --backgroundColor: #FDF4EFE0;
}

.breakcrums{
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.breakcrums__container{
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  font-size: 12px;
  padding: 20px 0 20px 0;
}
@media screen and (max-width: 1400px){
.breakcrums__container{
  margin-top: 12px;
  padding: 0 40px;

}
}

@media screen and (max-width: 1000px){
.breakcrums__container{
  margin-top: 12px;
  padding: 0 20px;
}
}


.breakcrums__container i,
.breakcrums__container a{
  color: var(--primaryColor);
  font-size: 14px;
}

.breakcrums__container i{
  font-size: 12px;
}

.breakcrums__container a:hover{
  opacity: 0.5;
}

@media screen and (max-width: 600px){
  .breakcrums__container i,
.breakcrums__container a{
  color: var(--primaryColor);
  font-size: 10px;
}
.breakcrums__container i{
  font-size: 8px;
}
}