:root{
  --darkGreen: #1E4B3D;
  --greenPattel: #547668;
  --lightGreen: #C0CBBE;
  --blackgray: #3D3D3D;
  --primaryColor: #31735E;
  --secondaryColor: #4BA35B;
  --black: #252525;
  --backgroundColor: #FDF4EFE0;
}
