
:root{
  --darkGreen: #1E4B3D;
  --greenPattel: #547668;
  --lightGreen: #C0CBBE;
  --blackgray: #3D3D3D;
  --primaryColor: #31735E;
  --secondaryColor: #4BA35B;
  --black: #252525;
  --backgroundColor: #FDF4EFE0;
}

.footer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer__bg{
  padding: 60px 0 60px 0;
  height: 100%;
  width: 100%;
  background-color: var(--primaryColor);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content{
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .footer__content{
    padding: 0 40px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__content{
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .footer__content{
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .footer__content{
    padding: 0;
  }
}

.footer__content--logo, .footer__content--link, .footer__Content--bank{
  flex: 1;
}


.footer__content--logo{
  width: 100%;
  max-width: 392px;
}

.footer__content--logo .logoDiv{
  width: 100%;
  height: 100%;
}
.footer__content--logo .logoDiv img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__content--link{
  width: 100%;
  max-width: 361px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1000px) {
  .footer__content--logo{
    width: 100%;
    max-width: 500px;
  }
  .footer__content--link{
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 800px) {
  .footer__content--logo{
    width: 100%;
    max-width: 400px;
  }
  .footer__content--link{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 500px) {
  .footer__content--logo{
    width: 100%;
    max-width: 325px;
  }

  .footer__content--link{
    width: 100%;
    max-width: 361px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.footer__content--logo .logoText{
  padding: 20px 40px 20px 0;
  font-size: 16px;
  font-family: 'play-700';
} 

@media screen and (max-width: 1200px) {
  .footer__content--logo .logoText{
    text-align: center;
  } 
}


.footer__content--link .link__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__content--link .link__container .col{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__content--link .link__container .col a{
  font-family: "play-700";
  color: white;
}

.footer__content--link .icon__container{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.footer__content--link .icon__container .icon__bg{
  width: 45px;
  height: 45px;
    padding: 10px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.icon__bg:hover{
  opacity: 0.8;
}


.footer__Content--bank{
  border: 1px solid white;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px 60px 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 325px;
}

