:root{
--darkGreen: #1E4B3D;
--greenPattel: #547668;
--lightGreen: #C0CBBE;
--blackgray: #3D3D3D;
--primaryColor: #31735E;
--secondaryColor: #4BA35B;
--black: #252525;
--backgroundColor: #FDF4EFE0;
}

.header{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--blackgray);
}

.header .header__content{
    padding: 20px 0px 20px 0px;
    height: 100px;
    width: 100%;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:white;
}

.header .header__content p{
    font-size: 18px;
    line-height: 0;
    text-align: center;
    font-weight: 400;
    margin: 8px;
}

.header .header__content span{
    font-weight: 700;
}

.header .header__content h3{
    line-height: 0px;
    margin: 22px;
}

.header .header__navbar{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__navbar .header__navbar--content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    flex: 1;
    text-transform: uppercase;
}

.header .header__navbar .header__navbar--content p,
.header .header__navbar .header__navbar--content a{
    color: var(--primaryColor) !important;
    font-weight: 600;
    padding: 20px 15px 20px 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.header .header__navbar .header__navbar--content p:hover,
.header .header__navbar .header__navbar--content a:hover{
    color: var(--secondaryColor) !important;
}

.header .header__navbar .header__navbar--search{
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
}

.header__navbar--wrapper{
    display: flex;
    align-items: center;
    width: 350px;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--secondaryColor);
    color: var(--secondaryColor);
    border-radius: 6px;
    gap: 4px;
}
.header__navbar--wrapper:focus,
.header__navbar--wrapper:hover{
    border: 1px solid var(--primaryColor);
}
    

.header .header__navbar .header__navbar--user{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    flex: 1;
}
.header .header__navbar .header__navbar--user p,
.header .header__navbar .header__navbar--user .fa-solid{
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 14px;
}
.header .header__navbar .header__navbar--user p,
.header .header__navbar .header__navbar--user .fa-solid:hover{
    color: var(--secondaryColor);
}