:root{
--darkGreen: #1E4B3D;
--greenPattel: #547668;
--lightGreen: #C0CBBE;
--blackgray: #3D3D3D;
--primaryColor: #31735E;
--secondaryColor: #4BA35B;
--black: #252525;
--backgroundColor: #FDF4EFE0;
}

.header{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--lightGreen) 0px 10px 10px -10px;
}



.header .header__content{
    height: 100px;
    width: 100%;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:white;
}


.header .header__content p{
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .header .header__content p{
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 530px) {
    .header .header__content p{
        font-size: 14px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .header .header__content h3{
        font-size: 22px;
        text-align: center;
    }
}

.header .header__content span{
    font-weight: 700;
}

.header .header__navbar{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 1400px) {
    .header .header__navbar{
        height: 60px;
    }
}


@media screen and (max-width: 1400px) {
    .header .header__navbar{
        padding: 0 40px;
    }
}

.header .header__navbar .header__navbar--burger{
    display: none;
}

.header .header__navbar .header__navbar--content{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    flex: 1;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.5s ease-in;
}

.header .header__navbar .header__navbar--content .close__btn{
    display: none;
}

@media screen and (max-width: 1400px) {
    .header .header__navbar .header__navbar--content{
        font-size: 12px;
    }
}

@media screen and (max-width: 1150px) {
    .header .header__navbar .header__navbar--content{
        position: absolute;
        left: -1000px;
        top: 0;
        background-color: white;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        align-items: start;
        padding: 30px;
        font-size: 16px;
    }

    .header .header__navbar .header__navbar--content.active{
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        align-items: start;
        padding: 30px;
        font-size: 16px;
    }

    .header .header__navbar .header__navbar--burger{
        display: block;
        cursor: pointer;
        font-size: 16px;
        color: var(--primaryColor);
        transition: all 0.3s ease;
    }

    .header .header__navbar .header__navbar--burger:hover{
        color: var(--secondaryColor);
    }

    .header .header__navbar .header__navbar--content .close__btn{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        right: 20px;
        z-index: 10;
        cursor: pointer;
        font-size: 18px;
        height: 30px;
        width: 30px;
        padding: 10px;
        border-radius: 100%;
        transition: all 0.5s ease;
    }

    .header .header__navbar .header__navbar--content .close__btn:hover{
        background-color: var(--primaryColor);
        color: white;
    }
}

.header .header__navbar .header__navbar--content p,
.header .header__navbar .header__navbar--content a{
    color: var(--primaryColor) !important;
    font-weight: 600;
    padding: 20px 30px 20px 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .header .header__navbar .header__navbar--content p,
    .header .header__navbar .header__navbar--content a{
        padding: 10px 20px 10px 0px;
    }
}


.header .header__navbar .header__navbar--content p:hover,
.header .header__navbar .header__navbar--content a:hover{
    color: var(--secondaryColor) !important;
}

.header .header__navbar .header__navbar--search{
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .header .header__navbar .header__navbar--search{
        display: none;
    }
}

.header__navbar--wrapper{
    display: flex;
    align-items: center;
    width: 350px;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--secondaryColor);
    color: var(--secondaryColor);
    border-radius: 6px;
    gap: 4px;
}

.header__navbar--wrapper:focus,
.header__navbar--wrapper:hover{
    border: 1px solid var(--primaryColor);
}
    

.header .header__navbar .header__navbar--user{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    flex: 1;
}
.header .header__navbar .header__navbar--user p,
.header .header__navbar .header__navbar--user .fa-solid{
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 14px;
}



.header .header__navbar .header__navbar--user p,
.header .header__navbar .header__navbar--user .fa-solid:hover{
    color: var(--secondaryColor);
}